.footer {
  position: relative;
  text-align: center;
  width: 100%;
  padding: 24px 40px;
  margin-top: auto;
  color: var(--public-text-6);
  font-size: 13px;
  line-height: 1.8;
  border-top: 1px solid var(--public-border-1);

  p {
    max-width: 800px;
    margin: 0 auto;
    font-weight: 500;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 24px 20px;
  }
}